{%extends 'base.html' %}

{%block title%}
О нас
{%endblock%}

{%block body%}
<div class="container">
    <h1>Добавим новый экземпляр: </h1>
    <form method="post">

      <input type="text" name="title" id="title" class="container form-control" placeholder="Марка авто"><br>
      <textarea name="into" id="into" class="container form-control" placeholder="вид, доп. данные"></textarea><br>
      <textarea name="text" id="text" class="container form-control" placeholder="стоимость в долларах"></textarea><br>
      <input type="submit" class="btn btn-success" value="Добавить">

    </form>
</div>
{%endblock%}
